{% extends 'warehouse/bases/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} {% trans "Edit Area" %} {% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <form method="post" enctype="multipart/form-data" class="col-sm-9">
            {% csrf_token %}
            <div class="card p-4">
                <h3 class="card-title">{% trans "Edit Area" %}</h3>
                <div class="mb-3">
                    <label for="wh_code" class="form-label" disabled=""></label>
{#                    {% if is_readonly %}#}
{#                        {{ form.wh_code|add_attr:"readonly:readonly" }}#}
{#                    {% else %}#}
{#                    {% endif %}#}
                                        {{ form.area_id }}
{#                    {{ form.wh_code|attr:"readonly:readonly" }}#}
                    <div class="text-danger">{{ form.area_id.errors }}</div>
                </div>

                <div class="mb-3">
                    <label for="wh_name" class="form-label">{% trans "Area Name" %}</label>
                    {{ form.area_name }}
                    <div class="text-danger">{{ form.area_name.errors }}</div>
                </div>

                <div class="mb-3">
                    <label for="pos_x" class="form-label">{% trans "Position X" %}</label>
                    {{ form.pos_x }}
                    <div class="text-danger">{{ form.pos_x.errors }}</div>
                </div>

                <div class="mb-3">
                    <label for="pos_y" class="form-label">{% trans "Position Y" %}</label>
                    {{ form.pos_y }}
                    <div class="text-danger">{{ form.pos_y.errors }}</div>
                </div>

                <div class="mb-3">
                    <label for="area_w" class="form-label">{% trans "Area Width" %}</label>
                    {{ form.area_w }}
                    <div class="text-danger">{{ form.area_w.errors }}</div>
                </div>

                <div class="mb-3">
                    <label for="area_l" class="form-label">{% trans "Area Length" %}</label>
                    {{ form.area_l }}
                    <div class="text-danger">{{ form.area_l.errors }}</div>
                </div>

                <div class="mb-3">
                    <label for="wh_bg" class="form-label">{% trans "Warehouse Id" %}</label>
                    {{ form.warehouse }}
                    <div class="text-danger">{{ form.warehouse.errors }}</div>
                </div>

                <button type="submit" class="btn btn-success">{% trans "Save Changes" %}</button>
                <a href="{% url 'area_by_warehouse' wh_code %}" class="btn btn-secondary mt-3">{% trans "Back to List" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

