{% extends 'bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block head %}{% endblock %}
{% block title %}{% endblock title %}
{% block breadcrumb %}{% endblock %}

{% block base_js %}
    <style>
    .custom-edit{

    }


    .dropdown-item i {
        width: 20px; /* Hoặc giá trị khác phù hợp */
        text-align: center;
        margin-right: 8px; /* Giữ khoảng cách giữa icon và chữ */
    }


    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

{% endblock %}

{% block ready %}{% endblock ready %}

{% block container %}
    <div class="card-header">
        <div class="row">
            <div>
                <div class="btn-group">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Transaction Function" %}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'packing_material_stock_in' %}">
                                <i class="fas fa-truck-loading"></i> {% trans "Packing Material Stock In" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'packing_material_stock_out' %}">
                                <i class="fas fa-dolly-flatbed"></i>  {% trans "Packing Material Stock Out" %}
                            </a>
                        </li>
                        <hr />
                        {{ request.user.user_type.type_name }}
                        {% if request.user.user_type.type_name == "Administrator" %}
                        <li>
                            <a class="dropdown-item" href="{% url 'transfer_and_adjust' %}">
                                <i class="fas fa-people-carry"></i> {% trans "Quantity Transfer & Adjust Form" %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Search Function" %}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'bin_search' %}">
                                <i class="fas fa-search"></i> {% trans "Inventory Search" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'product_order_bin_search' %}">
                                <i class="fas fa-search"></i> {% trans "Transaction History" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'inventory_sheet' %}">
                                <i class="fas fa-search"></i> {% trans "Inventory Sheet" %}
                            </a>
                        </li>
                    </ul>
                </div>
                {% if request.user.user_type.type_name == "Administrator" %}
                <div class="btn-group">
                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Basic Data" %}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li>
                            <a class="dropdown-item" href="{% url 'warehouse_list' %}">
                                <i class="fas fa-warehouse"></i> {% trans "Storage Setting" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'upload_excel' %}">
                                <i class="fas fa-cloud-upload-alt"></i> {% trans "Location Importing" %}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'open_data_import' %}">
                                <i class="fas fa-cloud-upload-alt"></i> {% trans "Open Data Importing" %}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    {% block content %} {% endblock %}
{% endblock %}

{#{% block javascript %}#}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>#}
{#{% endblock %}#}

