{% extends 'warehouse/bases/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} {% trans "Create Warehouse" %} {% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <form method="post" enctype="multipart/form-data" class="col-sm-9">
                {% csrf_token %}
                <div class="card p-4">
                    <h3 class="card-title">{% trans "Create Warehouse" %}</h3>
                    <div class="mb-3">
                        <label for="wh_code" class="form-label">{% trans "Warehouse Code" %}</label>
                        {{ form.wh_code }}
                        <div class="text-danger">{{ form.wh_code.errors }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="wh_name" class="form-label">{% trans "Warehouse Name" %}</label>
                        {{ form.wh_name }}
                        <div class="text-danger">{{ form.wh_name.errors }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="wh_plant" class="form-label">{% trans "Plant" %}</label>
                        {{ form.wh_plant }}
                        <div class="text-danger">{{ form.wh_plant.errors }}</div>
                    </div>

                    <div class="mb-3">
                        <label for="wh_comment" class="form-label">{% trans "Comment" %}</label>
                        {{ form.wh_comment }}
                        <div class="text-danger">{{ form.wh_comment.errors }}</div>
                    </div>

                    <div class="mb-3" style="border: 1px gray solid">
                        <label for="wh_bg" class="form-label">{% trans "Background Image" %}</label>
                        {{ form.wh_bg }}
                        <div class="text-danger">{{ form.wh_bg.errors }}</div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> {% trans "Save" %}
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block js %} {{ block.super }} {% endblock %}




