{% extends 'warehouse/bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Stock In" %} {% endblock %}
{% block css %}
<style>
.item_list {
    background: #ffffe7;
    border-color: #f7e1b5;
    border-width: 1px;
    border-style: dashed solid;
}

.jsgrid-button.jsgrid-mode-button.jsgrid-insert-mode-button {
    display: none !important;
}

/* Hình ảnh trong popup */
#zoneImage {
  width: auto;
  height: 100%;
  position: relative;

}

.zone {
    position: absolute; /* Cần để các zone có thể được định vị chính xác */

}
/* Overlay che toàn màn hình */
#popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

/* Nội dung popup */
#popupContent {
  position: fixed;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  z-index: 9999;
  border-radius: 8px;
  text-align: center;
  width: auto; /* Điều chỉnh phần rộng tối đa của popup */
  height: 100%; /* Điều chỉnh chiều cao tối đa của popup */
  overflow: auto; /* Nếu cần cuộn, nếu hình ảnh quá lớn */
}



/* Nút đóng */
#closePopup {
  display: inline-block;
  padding: 5px 10px;
  background: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.green{
            border: 2px solid rgba(0, 255, 0, 0.7);  /* Màu xanh lá cây với độ trong suốt 70% */
            background-color: rgba(0, 255, 0, 0.3);  /* Màu xanh lá cây với độ trong suốt 30% */
}


.input-custom {
    --bs-gutter-x: 0;
}
</style>

{% endblock css %}
{% block base_js %}
{{ block.super }}
<script>
    function openMapPage(warehouse_id, obj) {

        let childWindow = window.open('{% url 'warehouse_map' warehouse_code %}', "Warehouse Map", "width=1400,height=800");

        // 監聽來自子頁面的回傳數據
        window.addEventListener("message", function(event) {
            if (event.origin !== window.location.origin) {
                return;  // 確保安全性，只接受同源的消息
            }

            obj.val(event.data);
        }, false);

    }

    $(document).ready(function() {
        let isInputClicked = false;

        $(document).on('keydown', function(e) {
            if (e.key === 'Escape' || e.which === 27) {  // Kiểm tra phím ESC
                {#console.log("Phím ESC đã được nhấn");#}
                const updateButton = $(".jsgrid-button.jsgrid-cancel-edit-button");

                if (updateButton.length) {
                    updateButton.click();  // Mô phỏng click vào nút cập nhật
                }
            }
        });

        $(document).on('keydown', (event) => {
          if (event.which === 13) {  // Kiểm tra nếu phím Enter (key code 13) được nhấn
            {#console.log('Enter key pressed:', event);#}
            const updateButton = $(".jsgrid-button.jsgrid-update-button");

            // Nếu nút "Cập nhật" tồn tại, mô phỏng sự kiện click
            if (updateButton.length) {
                updateButton.click();  // Mô phỏng click vào nút cập nhật
            }
          }
        });


        $("#create").on("click", function() {
            add_item();
        });

        function add_item() {
            const order_qty =$("#id_order_qty").val();
            const order_bin =$("#id_order_bin").val();
            const desc =$("#id_desc").val();
            const product_order =$("#id_product_order").val();
            const version_no =$("#id_version_no").val();
            const lot_no =$("#id_lot_no").val();
            const item_type =$("#id_item_type").val();
            const packing_type =$("#id_packing_type").val();
            const purchase_no =$("#id_purchase_no").val();
            const purchase_qty =$("#id_purchase_qty").val();
            const size =$("#id_size").val();
            const purchase_unit =$("#id_purchase_unit").val();
            const post_date =$("#id_post_date").val();
            const supplier =$("#id_supplier").val();
            const sap_mtr_no =$("#id_sap_mtr_no").val();
            const customer_no =$("#id_customer_no").val();
            const version_seq = $("#id_version_seq").val();

            const newItem = {
                order_qty: order_qty,
                order_bin: order_bin,
                desc: desc,
                customer_no: customer_no,
                product_order: product_order,
                version_no: version_no,
                version_seq: version_seq,
                lot_no: lot_no,
                item_type: item_type,
                packing_type: packing_type,
                purchase_no: purchase_no,
                purchase_qty: purchase_qty,
                size: size,
                purchase_unit: purchase_unit,
                post_date: post_date,
                supplier: supplier,
                sap_mtr_no: sap_mtr_no
            };

            // Lấy dữ liệu hiện tại của jsGrid
            var gridData = $("#jsGrid").jsGrid("option", "data");

            // Thêm mục mới vào dữ liệu grid
            gridData.push(newItem);

            // Cập nhật lại dữ liệu cho jsGrid
            $("#jsGrid").jsGrid("option", "data", gridData);
            $("#jsGrid").jsGrid("refresh");
            $('html, body').animate({
                scrollTop: $(document).height()
            }, 1000);

            alert("{% trans "New item added successfully!" %}");
        }


        $("#id_product_order").on("change", function() {
            get_order_info();
        });


        get_order_info = function() {

            var product_order = $("#id_product_order").val();
            {#alert(product_order);#}
            $.ajax({
                url: '{% url 'get_product_order_info' %}', type: 'post',
                dataType: 'json',
                async: false,
                data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "product_order": product_order},
                success: function(data) {
                    if (data.status === 'no_change'){
                        console.log("Keep the data table");
                    } else {
                        $("#jsGrid").jsGrid("option", "data", data);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("資料加載失敗：", error);
                }
            });
        };


        $("#id_purchase_no").on("change", function() {

            get_no_info();
        });


        get_no_info = function() {

            var purchase_no = $("#id_purchase_no").val();
            {#alert(purchase_no);#}
            $.ajax({
                url: '{% url 'get_purchase_no_info' %}', type: 'post',
                dataType: 'json',
                async: false,
                data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "purchase_no": purchase_no},
                success: function(data) {
                    if (data.status === 'no_change'){
                        console.log("Keep the data table");
                    } else {
                        $("#jsGrid").jsGrid("option", "data", data);
                    }

                },
                error: function (xhr, status, error) {
                    console.error("資料加載失敗：", error);
                }
            });
        };


        data: [], // 初始為空，將透過 AJAX 加載資料

        // 初始化 jsGrid
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",

            inserting: true,  // 啟用新增功能
            editing: true,    // 啟用編輯功能
            sorting: true,    // 啟用排序功能
            paging: true,     // 啟用分頁功能
            noDataContent: "{% trans "Not found" %}",


            rowClick: function (args) {
                this.editItem(args.item);
            },

            data: [],   // 將 JSON 資料導入表格

            fields: [
                {
                    name: "copy", // 自定義控制欄欄位名稱
                    title: "", // 欄位標題
                    align: "center", // 置中對齊
                    itemTemplate: function (_, item) {
                        // 自定義「複製」按鈕
                        const $copyButton = $("<button>")
                            .text("{% trans "Copy" %}")
                            .addClass("btn btn-info btn-sm")
                            .on("click", (e) => {
                                {#e.preventDefault();#}
                                {#e.stopPropagation();#}

                                // 獲取當前行的索引
                                const gridData = $("#jsGrid").jsGrid("option", "data");
                                const index = gridData.indexOf(item);

                                // 複製行並修改內容
                                const newItem = { ...item };
                                newItem.id = Date.now(); // 新的唯一 ID
                                newItem.order_bin = "";
                                newItem.order_qty = "";

                                // 插入到當前行的下方
                                gridData.splice(index + 1, 0, newItem);

                                // 重新載入數據
                                $("#jsGrid").jsGrid("option", "data", gridData);

                                alert("{% trans "Copy and insert below this row Success!" %}");
                            });

                        return $copyButton;
                    }
                },
                {
                    type: "control",
                    width: 80,
                    itemTemplate: function(_, item) {
                        // 建立刪除按鈕
                        var deleteButton = $("<button>")
                            .addClass("btn btn-danger btn-sm") // Bootstrap 樣式（可選）
                            .text("{% trans "Delete" %}")
                            .on("click", function(e) {
                                e.stopPropagation(); // 防止觸發行點擊事件
                                $("#jsGrid").jsGrid("deleteItem", item);

                            });

                        return deleteButton;
                    }
                },
                { name: "id", type: "number", width: 50, title: "ID", align: "center", readOnly: true, visible: false },
                { name: "order_qty", type: "text", width: 125, title: "{% trans "Order Qty" %}", align: "center" },
                {
                    name: "order_bin",
                    type: "text",
                    width: 170,
                    align: "center",
                    title: "{% trans "Order Bin" %}",
                    itemTemplate: function (value) {
                        return value; // Hiển thị nội dung
                    },
                    editTemplate: function (value, item) {



                        const $input = $("<input>").val(value).addClass("form-control input-custom").css({
                                            "padding-right": "1px"
                                       });

                        var $button = $("<button>")
                                       .addClass("btn btn-primary")
                                       .css({
                                           width: "auto",
                                           height: "40px",
                                           marginLeft: "20px"
                                       });


                        var $container = $("<div>").css({
                                            "--bs-gutter-x": "0", "display": "flex", "flex-wrap": "wrap"
                                        })
                                       .append($("<div>")
                                       .css({
                                           "width": "100px"
                                       })
                                       .append($input))
                                       .append($button); // Button chiếm col-2

                        // pass this data to jsgrid
                        this._input = $input;
                        {#this._input = $button;#}


                        $button.on("click", function () {

                            //$("#zonePopup").fadeIn(); // Hiển thị pop-up

                            //$("#zonePopup").data("updateInput", (newValue) => {
                            //    $input.val(newValue); // 更新輸入框的值
                            //});
                            obj = $input;
                            openMapPage('PKG', obj);

                        });


                        // Đóng popup khi click bên ngoài nội dung
                        //$(document).on('click', function(event) {
                        //    if (
                        //        !$(event.target).closest('#popupContent').length &&
                        //        !$(event.target).closest('#id_order_bin').length
                        //    ) {
                                // Kiểm tra nếu không click vào #popupContent và #id_order_bin
                        //        if (!isInputClicked) {
                        //            $('#zonePopup').fadeOut(); // Đóng popup
                        //        }

                        //        if ($(event.target).closest('#popupOverlay').length) {
                        //            isInputClicked = false; // Đặt giá trị false nếu nhấp vào popupOverlay
                        //            $('#zonePopup').fadeOut();
                        //            console.log('Clicked on popupOverlay. isInputClicked =', isInputClicked);
                        //        }
                        //    }
                        //});


                            {#// Remember position of current page#}
                            {#var scrollPosition = $(window).scrollTop();#}
                            {##}
                            {#//Restore position of current page#}
                            {#$(window).scrollTop(scrollPosition);#}

                        // Hiển thị pop-up khi click vào $button
                        //$button.on("click", function (event) {
                        //    event.preventDefault();

                        //    isInputClicked = true;
                        //    $("#zonePopup").fadeIn();

                        //    console.log(isInputClicked)

                        //});

                        return $container;
                    },
                    insertValue: function () {
                        return this._input.val(); // Trả về giá trị khi chèn
                    },
                    editValue: function () {
                        return this._input.val(); // Trả về giá trị khi chỉnh sửa
                    }
                },

                { name: "desc", type: "text", width: 225, title: "{% trans "Comment" %}", align: "center", editing: true },
                { name: "product_order", type: "text", width: 135, title: "{% trans "Product Order" %}", align: "center", validate: "required", editing: false },
                { name: "purchase_no", type: "text", width: 125, title: "{% trans "Purchase No" %}", align: "center", validate: "required", editing: false },
                { name: "version_no", type: "text", width: 120, title: "{% trans "Version No" %}", validate: "required", align: "center", editing: false },
                { name: "version_seq", type: "number", width: 120, title: "{% trans "Version Seq" %}", align: "center", validate: "required", editing: false },
                { name: "size", type: "text", width: 50, title: "{% trans "Size" %}", align: "center", validate: "required", editing: false },
                { name: "lot_no", type: "text", width: 130, title: "{% trans "Lot No" %}", align: "center", editing: false },
                { name: "purchase_qty", type: "text", width: 120, title: "{% trans "Purchase Qty" %}", align: "center", editing: false },
                { name: "purchase_unit", type: "text", width: 130, title: "{% trans "Purchase Unit" %}", align: "center", editing: false },
                { name: "item_type", type: "text", width: 120, title: "{% trans "Item Type" %}", align: "center", editing: false },
                { name: "post_date", type: "text", width: 150, title: "{% trans "Post Date" %}", align: "center", editing: false },
                { name: "packing_type", type: "text", width: 150, title: "{% trans "Packing Type" %}", align: "center", editing: false },
                { name: "supplier", type: "text", width: 120, title: "{% trans "Supplier" %}", align: "center", editing: false },
                { name: "customer_no", type: "text", width: 120, title: "{% trans "Customer No" %}", align: "center", editing: false },
                { name: "sap_mtr_no", type: "text", width: 120, title: "{% trans "Mtr No" %}", align: "center", editing: false },
            ]
        });

        $(".jsgrid-grid-body").on("click", ".jsgrid-button", function(e) {
            // Cách để kiểm soát hành động sao chép
            if ($(this).text() === "Copy") {
                // Ngừng sự kiện nếu không muốn thông báo khi Enter được nhấn
                e.stopPropagation();
                e.preventDefault();

            }
        });


        // Khi click vào một zone (div chứa bin_id)
        $(".zone").on("click", function() {
            // Lấy giá trị của bin_id từ data-value của div
            var bin_id = $(this).data("value");
            const updateInput = $("#zonePopup").data("updateInput"); // 取得回調函數
            if (updateInput) {
                updateInput(bin_id); // 更新輸入框的值
            }
            // Đóng popup
            $("#zonePopup").fadeOut();
        });


        // 關閉彈窗
        $("#closePopup").on("click", function () {
            $("#zonePopup").fadeOut();
        });

        // Reset data input
        $("#button-id-bin_clear").on("click", function() {
            // Reset form
            $("#myForm")[0].reset();

        });

        // 當按下過帳按鈕時
        $('#postDataButton').click(function(event) {
            event.preventDefault();
            // 獲取 jsGrid 的所有數據
            var gridData = $("#jsGrid").data("JSGrid").data;

            if (!gridData || gridData.length === 0) {
                alert("{% trans "No data in the table! Please enter at least one row." %}");
                return; // Dừng xử lý nếu không có dữ liệu
            }

            // 檢查 order_qty 是否都有值
            for (var i = 0; i < gridData.length; i++) {
                if (!gridData[i].order_bin || gridData[i].order_bin.trim() === "") {
                    {#alert({% blocktrans %}"第 " + (i + 1) + " 行的 'order_bin' 欄位不可為空！"{% endblocktrans %});#}
                    alert({% blocktrans %}"The 'location' field in row " + (i + 1) + " cannot be empty!"{% endblocktrans %});
                    return; // 阻止繼續執行
                }
            }

            // 將數據轉換為 JSON 格式
            var jsonData = JSON.stringify(gridData);

            // 使用 Ajax 發送數據到後端
            $.ajax({
                url: '{% url 'packing_material_stock_in_post' %}',  // 設置後端接收數據的 URL
                type: 'POST',
                contentType: 'application/json',
                data: jsonData,
                success: function(response) {

                    //Reset all input
                    $("#myForm")[0].reset();

                    $("#jsGrid").jsGrid("option", "data", []);
                    $("#jsGrid").jsGrid("refresh");


                    alert("{% trans "Form submitted successfully!" %}");
                    console.log(response);
                },
                error: function(xhr, status, error) {
                    alert("{% trans "Form submission failed!" %}");
                    console.log(error);
                }
            });
        });

    });



</script>
{% endblock %}

{% block content %}
<div class="row p-3">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row">
            <div class="col p-3" style="font-size: 1.5em;text-align: center;">{% trans "Warehouse Receiving Form" %}</div>
        </div>
    <form id="myForm">
        {% crispy form %}
        <div id="jsGrid"></div>
            <div id="numberPicker" style="display:none; position:fixed; top:20%; left:30%; width:300px; padding:20px; background:#fff; border:1px solid #ccc; box-shadow:0 2px 10px rgba(0,0,0,0.2);">
            <h3>{% trans "Choose Location" %}</h3>
            {% for bin in bins %}
            <button class="number-btn" data-value="{{ bin.bin_id }}" style="{% if bin.has_stock %}background-color: #d2e8b9{% else %}; background-color: #fff{% endif %}">{{ bin.bin_id }}</button>
            {% endfor %}
            <br><br>
            <button id="closePicker">{% trans "Close" %}</button>
        </div>


{#<!-- Đưa col-2 vào trong popupContent -->#}
{#                <div class="col-2" id="dropdownContainer">#}
{#                    <select id="warehouseDropdown" class="form-control">#}
{#                        {% for wh in warehouses %}#}
{#                            <button class="btn btn-warning wh-button" data-wh-code="{{ wh.wh_code }}" style="width: 200px">#}
{#                                {{ wh.wh_code }}#}
{#                            </button>#}
{#                            <option value="{{ wh.id }}">{{ wh.wh_name }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </div>#}
          <!-- Popup -->

{#          <div id="zonePopup" style="display: none;">#}
{#            <div id="popupOverlay">#}
{#            <div class="row">#}
{##}
{##}
{##}
{#                <div id="popupContent" class="col-8">#}
{#                    <img src="/media/warehouse_images/warehouse_2.jpg" id="zoneImage" alt="Zone Map" usemap="#zoneMap">#}
{##}
{#                    <div id="binData">#}
{#                        <map name="zoneMap">#}
{#                            <area shape="rect" coords="50,50,150,150" href="#" data-zone="Zone 1">#}
{#                            <area shape="rect" coords="200,50,300,150" href="#" data-zone="Zone 2">#}
{#                        </map>#}
{##}
{#                        {% for bin in bins %}#}
{#                        <div class="zone"#}
{#                            data-value="{{ bin.bin_id }}"#}
{#                            style="#}
{#                                top: {{ bin.pos_y }}px;#}
{#                                left: {{ bin.pos_x }}px;#}
{#                                width: {{ bin.bin_w }}px;#}
{#                                height: {{ bin.bin_l }}px;#}
{#                                {% if bin.has_stock %}#}
{#                                    border: 2px solid rgba(255, 0, 0, 0.7);#}
{#                                    background-color: rgba(255, 0, 0, 0.3);#}
{#                                {% else %}#}
{#                                    border: 2px solid rgba(0, 255, 0, 0.7);#}
{#                                    background-color: rgba(0, 255, 0, 0.3);#}
{#                                {% endif %}#}
{#                            ">#}
{#                            {{ bin.bin_id }}#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                    </div>#}
{##}
{##}
{#                </div>#}
{##}
{##}
{#            </div>#}
{##}
{#          </div>#}
{#        </div>#}

        <hr />
        <div style="text-align: center" class="p-3">
            <button id="postDataButton" class="btn btn-info btn-lg">{% trans "Post" %}</button>
        </div>
    </form>

    <div class="col-1"></div>
</div>
</div>
{% endblock %}

{% block alert %}

{% endblock %}