{% extends 'warehouse/bases/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} {% trans "Transaction" %} {% endblock %}

{% block css %}
    <style>

        #searchBtn {
            align-items: center;
            bottom: 1px;

        }
    </style>


{% endblock %}

{% block content %}
    <h3 class="mt-5" style="font-size: 1.5em;text-align: center;">{% trans "Transaction History Search" %}</h3>
        <div style="padding-left: 5rem; padding-top: 1rem">
            <div class="row">
                <div class="col-md-5">
                    <label for="productOrder" class="mr-2">{% trans "Product Order" %}:</label>
                    <input type="text" id="productOrder" class="form-control" placeholder="{% trans "Enter Product Order" %}">
                </div>
                <div class="col-md-5">
                    <label for="Bin" class="mr-2">{% trans "Location" %}:</label>
                    <input type="text" id="bin" class="form-control" placeholder="{% trans "Enter Location" %}">
                </div>
                <div class="col-2 d-flex align-items-end p-0">
                    <button id="searchBtn" class="btn btn-primary"><i class="fas fa-search"> {% trans "Search" %}</i></button>
                </div>
            </div>

            <div class="mt-2" id="jsGrid"></div>
        </div>

    <script>
        var translations = {
            notFound: "{% trans 'Not found' %}",
            productOrder: "{% trans 'Product Order' %}",
            purchaseOrder: "{% trans 'Purchase Order' %}",
            versionNo: "{% trans 'Version No' %}",
            versionSeq: "{% trans 'Version Seq' %}",
            size: "{% trans 'Size' %}",
            bin: "{% trans 'Bin' %}",
            mvt: "{% trans 'Mvt' %}",
            minusQty: "-",
            plusQty: "+",
            qty: "{% trans 'Qty' %}",
            createAt: "{% trans 'Create at' %}",
            createBy: "{% trans 'Create by' %}"
        };
    </script>

    <script>
        $(document).ready(function() {


            $("#jsGrid").jsGrid({
                width: "95%",
                height: "480px",
                noDataContent: translations.notFound,
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                pageSize: 20,
                fields: [
                    { name: "product_order", title: translations.productOrder, type: "text", width: 30, css: "text-center" },
                    { name: "purchase_no", title: translations.purchaseOrder, type: "text", width: 35, css: "text-center" },
                    { name: "version_no", title: translations.versionNo, type: "text", width: 25, css: "text-center" },
                    { name: "version_seq", title: translations.versionSeq, type: "text", width: 15, css: "text-center" },
                    { name: "size", title: translations.size, type: "text", width: 25, css: "text-center" },
                    { name: "bin_id", title: translations.bin, type: "text", width: 25, css: "text-center" },
                    { name: "mvt_id", title: translations.mvt, type: "text", width: 25, css: "text-center" },
                    { name: "minus_qty", title: "-", type: "text", width: 25, css: "text-center" },
                    { name: "plus_qty", title: "+", type: "text", width: 25, css: "text-center" },
                    { name: "remain_qty", title: translations.qty, type: "text", width: 25, css: "text-center" },
                    { name: "create_at", title: translations.createAt, type: "text", width: 40, css: "text-center" },
                    { name: "create_by__username", title: translations.createBy, type: "text", width: 25, css: "text-center" },
                ]
            });


            $("#searchBtn").on("click", function() {
                const productOrder = $("#productOrder").val();
                const bin = $("#bin").val();

                if (!productOrder && !bin) {
                    event.preventDefault(); // Ngăn gửi request lên server
                    alert("{% trans 'Product Order/Location cannot all be null!' %}");
                    return;
                }

                $.ajax({
                    url: '{% url "product_order_hist_data" %}?product_order=' + productOrder + '&bin_id=' + bin,
                    method: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        $("#jsGrid").jsGrid("option", "data", response);
                    },
                    error: function(xhr, status, error) {
                        console.log('Error: ' + error);
                    }
                });

            });


        });


        document.getElementById('search').addEventListener('click', function(event) {

            let bin = document.getElementById('id_bin').value.trim();
            let po_no = document.getElementById('id_po_no').value.trim();
            let size = document.getElementById('id_size').value.trim();

            if (!bin && !po_no && !size) {
                event.preventDefault(); // Ngăn gửi request lên server
                alert("{% trans 'Location, Product Order, and Size cannot all be null!' %}");

            }
        });


    </script>



{% endblock %}