{% extends 'warehouse/bases/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %} {% trans "Transaction History" %} {% endblock %}
{% block css %}
    <style>

        th {
            text-align: center;
        }

        th, td {
            min-width: 90px;
            width: auto;
        }

    </style>
{% endblock %}


{% block content %}
    <h3 class="mt-4 text-center">{% trans "Transaction History Search" %}</h3>
    <div class="row d-flex justify-content-center p-0 mt-4">
        <div class="row d-flex justify-content-center p-0 m-0" style="width: 95%">
            <div class="d-flex justify-content-start flex-grow-1">
                <div class="col-md-2 pl-1">
                    <label for="productOrder" class="mr-2">{% trans "Product Order" %}</label>
                    <input type="text" id="productOrder" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="bin" class="mr-2">{% trans "Location" %}</label>
                    <input type="text" id="bin" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="size" class="mr-2">{% trans "Size" %}</label>
                    <input type="text" id="size" class="form-control">
                </div>
                <div class="col-md-2">
                    <label for="comment" class="mr-2">{% trans "Comment" %}</label>
                    <input type="text" id="comment" class="form-control">
                </div>
                <div class="col-2 d-flex align-items-end">
                    <button id="searchBtn" class="btn btn-primary btn-lg"><i class="fas fa-search"> {% trans "Search" %}</i></button>
                </div>
            </div>

            <div class="d-flex align-items-end p-0 m-0 justify-content-end">
                <a class="download">
                    <button id="exportExcel" type="button" class="btn btn-info" aria-label="template">
                        <i class="fas fa-download"></i>
                    </button>
                </a>
            </div>
        </div>

        <div class="mt-2" id="jsGrid"></div>
    </div>
{% endblock%}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {

            var translations = {
                notFound: "{% trans 'Not found' %}",
                productOrder: "{% trans 'Product Order' %}",
                purchaseOrder: "{% trans 'Purchase Order' %}",
                versionNo: "{% trans 'Version No' %}",
                versionSeq: "{% trans 'Version Seq' %}",
                size: "{% trans 'Size' %}",
                comment: "{% trans 'Comment' %}",
                bin: "{% trans 'Bin' %}",
                mvt: "{% trans 'Mvt' %}",
                minusQty: "-",
                plusQty: "+",
                qty: "{% trans 'Qty' %}",
                createAt: "{% trans 'Create at' %}",
                createBy: "{% trans 'Create by' %}"
            };

            $("#jsGrid").jsGrid({
                width: "95%",
                height: "70vh",
                noDataContent: translations.notFound,
                inserting: false,
                editing: false,
                sorting: true,
                paging: true,
                pageSize: 20,
                fields: [
                    { name: "product_order", title: translations.productOrder, type: "text"},
                    { name: "purchase_no", title: translations.purchaseOrder, type: "text"},
                    { name: "version_no", title: translations.versionNo, type: "text"},
                    { name: "version_seq", title: translations.versionSeq, type: "text"},
                    { name: "size", title: translations.size, type: "text"},
                    { name: "comment", title: translations.comment, type: "text"},
                    { name: "bin_id", title: translations.bin, type: "text"},
                    { name: "mvt_id", title: translations.mvt, type: "text"},
                    { name: "minus_qty", title: "-", type: "number"},
                    { name: "plus_qty", title: "+", type: "number"},
                    { name: "remain_qty", title: translations.qty, type: "number"},
                    { name: "create_at", title: translations.createAt, type: "date"},
                    { name: "create_by__username", title: translations.createBy, type: "text"},
                ]
            });

            $("#productOrder, #bin, #size, #comment").on("keyup", function (e) {
                let product_order = $("#productOrder").val().trim();
                let bin = $("#bin").val().trim();
                let size = $("#size").val().trim();
                let comment = $("#comment").val().trim();

                if (e.key === 'Enter' && (product_order || bin || size || comment)){
                    $.getJSON('{% url "product_order_hist_data" %}',
                        {
                            product_order: product_order,
                            bin_id: bin,
                            size: size,
                            comment: comment
                        }).done(function (response) {
                            $("#jsGrid").jsGrid("option", "data", response);
                        }).fail(function (jqXHR, textStatus, errorThrown) {
                            console.log('Error: ' + errorThrown);
                    })
                }
            });


            $("#searchBtn").on("click", function() {
                let product_order = $("#productOrder").val().trim();
                let bin = $("#bin").val().trim();
                let size = $("#size").val().trim();
                let comment = $("#comment").val().trim();

                if (!product_order && !bin && !size && !comment) {
                    event.preventDefault(); // Ngăn gửi request lên server
                    alert("{% trans '(Product Order/Location/Size/Comment) cannot all be null!' %}");
                    return;
                }

                $.getJSON('{% url "product_order_hist_data" %}',
                    {
                        product_order: product_order,
                        bin_id: bin,
                        size: size,
                        comment: comment
                    }).done(function (response) {
                        $("#jsGrid").jsGrid("option", "data", response);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.log('Error: ' + errorThrown);
                })

            });


            $("#exportExcel").click(function () {
                // Lấy dữ liệu từ jsGrid
                var gridData = $("#jsGrid").jsGrid("option", "data");

                // Lấy các trường từ jsGrid để tạo mảng tiêu đề cho Excel
                var fields = [
                    { name: "product_order", title: translations.productOrder, type: "text", width: 100 },
                    { name: "purchase_no", title: translations.purchaseOrder, type: "text", width: 100 },
                    { name: "version_no", title: translations.versionNo, type: "text", width: 100 },
                    { name: "version_seq", title: translations.versionSeq, type: "text", width: 80 },
                    { name: "size", title: translations.size, type: "text", width: 45 },
                    { name: "comment", title: translations.comment, type: "text", width: 100 },
                    { name: "bin_id", title: translations.bin, type: "text", width: 55 },
                    { name: "mvt_id", title: translations.mvt, type: "text", width: 55 },
                    { name: "minus_qty", title: "-", type: "number", width: 55 },
                    { name: "plus_qty", title: "+", type: "number", width: 55 },
                    { name: "remain_qty", title: translations.qty, type: "number", width: 55 },
                    { name: "create_at", title: translations.createAt, type: "date", width: 100 },
                    { name: "create_by__username", title: translations.createBy, type: "text", width: 70 },
                ];

                // Tạo dữ liệu chuyển đổi
                var transformedData = gridData.map(function (item) {
                    var transformedItem = {};
                    fields.forEach(function (field) {
                        let value = item[field.name] || "";
                        if (field.type === "number") {
                            value = Number(value) || 0; // Ép kiểu số để Excel nhận dạng đúng
                        }
                        transformedItem[field.title] = value;
                    });
                    return transformedItem;
                });

                // Chuyển đổi dữ liệu thành định dạng SheetJS với `raw: true`
                var ws = XLSX.utils.json_to_sheet(transformedData, { raw: true });

                // Đặt độ rộng cho các cột
                ws["!cols"] = fields.map(field => ({ wpx: field.width }));

                // Tạo workbook và thêm sheet vào
                var wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, "Data");

                // Xuất file Excel
                XLSX.writeFile(wb, "Transaction_History.xlsx");
            });

        });

    </script>
{% endblock %}