{% load static %}
{% load i18n %}
{% load user_groups %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ever Global - {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'jquery-ui\jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-4.1.3\css\bootstrap.min.css' %}">
    <script src="{% static 'base\js\umd\popper.js' %}"></script>
    <script src="{% static 'base\js\func.js' %}"></script>
    <script src="{% static 'jquery\jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'jquery-ui\jquery-ui.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.1.3\js\bootstrap.min.js' %}"></script>
    <!-- jquery-loading v1.3.0 -->
    <link href="{% static 'jquery.loading\css\jquery.loading.min.css' %}" rel="stylesheet" />
    <script src="{% static 'jquery.loading\js\jquery.loading.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fontawesome-5.4.2\css\all.css' %}">
    <link rel="stylesheet" href="{% static 'base\css\base.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/jsgrid/dist/jsgrid.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsgrid/dist/jsgrid.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsgrid/dist/jsgrid-theme.min.css" />
    {% block head %}

    {% endblock %}

    {% block css %}

    {% endblock css %}
    {% block base_js %}

    {% endblock base_js %}
    {% block js %}

    {% endblock js %}
    <script>
        $(document).ready(function() {
               {% block ready %}
               {% endblock ready %}
        });
    </script>
</head>
<body>
    <div class="sidebar collapsed" id="sidebar">
        <div class="toggle-btn" id="toggle-btn">
            <i class="fas fa-bars"></i>
        </div>
        <div class="top-links">
            <ul>
                <li>
                    {% include 'bases/lang.html' %}
                </li>
            </ul>
        </div>
        <ul>
            <li><a href="{% url 'warehouse_dashboard' %}"><i class="fa fa-truck"></i> <span>{% trans "Warehouse Management System" %}</span></a></li>
        </ul>
        <div class="bottom-links">
            <div class="user-info">
                <ul>
                    <li><i class="fas fa-user"></i> <span>{{ user.username }}</span></li>
                </ul>
            </div>
            <ul>
                <li><a href="{% url 'user_info' %}"><i class="fas fa-key"></i> <span>{% trans 'Personal Setting' %}</span></a></li>
                <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>{% trans "Logout" %}</span></a></li>
            </ul>
        </div>
    </div>
    <div class="content" id="content" style="position: relative;">
        <div class="container-fluid" style="padding-left: 0px;padding-right: 0px">
            {% block container %}

            {% endblock %}
        </div>
    </div>

    <script>
        document.getElementById('toggle-btn').addEventListener('click', function () {
            var sidebar = document.getElementById('sidebar');
            var content = document.getElementById('content');
            sidebar.classList.toggle('collapsed');
            sidebar.classList.toggle('expanded');
            content.classList.toggle('expanded');
        });
    </script>
    {% block javascript %} {% endblock %}

</body>
</html>