{% extends 'wh_packing/bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Location Transfer" %} {% endblock %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    {{ block.super }}
    <style>

        form {
            margin-top: 3%;
        }

        #jsGrid {
            margin-top: 3%;
            font-size: 16px;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="container mt-4">
        <h3 class="text-center">{% trans "Location Transfer" %}</h3>
        <div id="jsGrid"></div>
        <form method="post">
            {% crispy form %}
        </form>
    </div>

{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function() {

             $('.select2-bin').select2({
                tags: true,  // Cho phép nhập giá trị mới
                allowClear: false,
                createTag: function(params) {
                    return null;  // Không cho phép nhập giá trị mới
                }
             });

             $("#id_qty").on("input", function () {
                 let value = $(this).val();
                 value = value.replace(/[^0-9]/g, '');
                 $(this).val(value);
             });

             $('.select2-selection.select2-selection--single').css('height', '38px');
             $('#select2-id_bin-container').css('margin-top', '5px');


            const translations = {
                warehouse: "{% trans "Warehouse" %}",
                productOrder: "{% trans "Product Order" %}",
                purchaseNo: "{% trans "Purchase No" %}",
                versionNo: "{% trans "Version No" %}",
                versionSeq: "{% trans "Version Seq" %}",
                itemType: "{% trans "Item Type" %}",
                lot: "{% trans "Lot" %}",
                size: "{% trans "Size" %}",
                bin: "{% trans "Bin" %}",
                qty: "{% trans "Quantity" %}"
            };

            // Parse URL parameters
            let params = new URLSearchParams(window.location.search);
            let warehouse = params.get("wh_name");
            let productOrder = params.get("product_order");
            let purchaseNo = params.get("purchase_no");
            let versionNo = params.get("version_no");
            {#let versionSeq = params.get("version_seq");#}
            let itemType = params.get("item_type");
            let lot = params.get("lot_no");
            let size = params.get("size");
            let bin = params.get("bin_id");
            let qty = params.get("qty");


            console.log("Loaded Data:", {
                warehouse, productOrder, purchaseNo, versionNo, itemType, lot, size, bin, qty
            });

            $.ajax({
                url: '{% url "bin_transfer" %}',
                method: 'GET',
                dataType: 'json',
                success: function(data) {
                    $("#jsGrid").jsGrid({
                        width: "100%",
                        height: "auto",
                        data: [data],
                        fields: [
                            { name: "wh_name", title: translations.warehouse, type: "text", css: "text-center" },
                            { name: "product_order", title: translations.productOrder, type: "text", css: "text-center" },
                            { name: "purchase_no", title: translations.purchaseNo, type: "text", css: "text-center" },
                            { name: "version_no", title: translations.versionNo, type: "text", css: "text-center" },
                            {#{ name: "version_seq", title: translations.versionSeq, type: "text", css: "text-center" },#}
                            { name: "item_type", title: translations.itemType, type: "text", css: "text-center" },
                            { name: "lot_no", title: translations.lot, type: "text", css: "text-center" },
                            { name: "size", title: translations.size, type: "text", css: "text-center" },
                            { name: "bin_id", title: translations.bin, type: "text", css: "text-center" },
                            { name: "qty", title: translations.qty, type: "number" }
                        ],

                    });
                },
                error: function (xhr) {
                    const errorMsg = JSON.parse(xhr.responseText);
                    alert(errorMsg.message);
                }
            });

        });

    </script>

{% endblock %}
