{% extends 'wh_packing/bases/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Stock Out" %} {% endblock %}
{% block css %}
{{ block.super }}

<style>

    .jsgrid-button.jsgrid-mode-button.jsgrid-insert-mode-button {
        display: none !important;
    }

    .jsgrid-grid-body::-webkit-scrollbar {
        height: 16px !important;
    }

    .input-custom {
        --bs-gutter-x: 0;
    }

    th {
        text-align: center;
    }

    .jsgrid-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    /* Hiệu ứng hover: Phóng to nhẹ và thêm bóng đổ */
    .btn-click-effect {
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    /* Hiệu ứng khi click: Thu nhỏ nhẹ rồi trở lại bình thường */
    .btn-click-effect:active {
        transform: scale(0.95); /* Thu nhỏ 5% */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Giảm bóng */
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        transform: scale(1.5);
    }

</style>

{% endblock %}


{% block content %}
    <div class="row p-3 d-flex justify-content-center">
        <div class="col-10">

            <h3 class="p-3 text-center">{% trans "Warehouse Stock Out Form" %}</h3>
            <form id="myForm">
                {% crispy form %}
                <div class="row mb-3">
                    <div class="col-md-12 text-center">
                        <button type="submit" id="btnSearch" class="btn btn-outline-success w-auto btn-click-effect">🔍 {% trans "Search" %}</button>
                    </div>
                </div>
                <hr />

                <div id="jsGrid"></div>

                <hr />
                <div style="text-align: center" class="p-3">
                    <button type="button" id="postDataButton" class="btn btn-info btn-lg">{% trans "Post" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    <script>
    $(document).ready(function() {

        {# Search #}
        $("#btnSearch").on("click", function (event) {
            let product_order = $('#id_product_order').val().trim();
            let purchase_no = $('#id_purchase_no').val().trim();
            let size = $('#id_size').val().trim();
            let lot_no = $('#id_lot_no').val().trim();
            let version_no = $('#id_version_no').val().trim();
            let item_type = $('#id_item_type').val();
            let isItemTypeSelected = item_type !== null && item_type !== "";

            if (product_order || size || lot_no || version_no || purchase_no || isItemTypeSelected ) {
                event.preventDefault();
                get_sap_info()
            }
            event.stopPropagation();
        });

        const get_sap_info = function() {

            let product_order = $("#id_product_order").val().trim();
            let purchase_no = $("#id_purchase_no").val().trim();

            let size = $("#id_size").val().trim();
            let lot_no = $("#id_lot_no").val().trim();
            let version_no = $("#id_version_no").val().trim();
            let item_type = $("#id_item_type").val().trim();


            $.ajax({
                url: '{% url 'get_product_order_stout' %}',
                type: 'get',
                dataType: 'json',
                async: false,
                data: {
                    "product_order": product_order,
                    "purchase_no": purchase_no,
                    "size": size,
                    "lot_no": lot_no,
                    "version_no": version_no,
                    "item_type": item_type
                },
                success: function(data) {
                    if (data.status === 'no_change'){
                        console.log("Keep the data table");
                    } else {
                        $("#jsGrid").jsGrid("option", "data", data.data_list_stout);
                    }

                },
                error: function (xhr) {
                    const errorMsg = JSON.parse(xhr.responseText);
                    alert(errorMsg.message);
                }
            });
        };

        $("#jsGrid").on("change", "#selectAll", function() {
            let isChecked = $(this).is(":checked");

             $(".rowCheckbox").prop("checked", isChecked).each(function() {
                let id = $(this).attr("data-id");

                if (isChecked) {
                    selectedItems[id] = true;
                } else {
                    delete selectedItems[id];
                }
             });
        });

        $("#jsGrid").on("change", ".rowCheckbox", function() {
            let id = $(this).attr("data-id");

            if ($(this).is(":checked")) {
                selectedItems[id] = true;
            } else {
                delete selectedItems[id];
            }

            // Kiểm tra nếu tất cả checkbox con đều được chọn thì tick vào #selectAll
            let allChecked = $(".rowCheckbox").length === $(".rowCheckbox:checked").length;
            $("#selectAll").prop("checked", allChecked);
        });


         {#Shortcut Keyboard #}
        $(document).on('keydown', function(e) {
            e.preventDefault();
            if (e.key === 'Enter') {
                const updateButton = $(".jsgrid-button.jsgrid-update-button:visible");
                if (updateButton.length) {
                    updateButton.click();
                }
            } else if (e.key === 'Escape') {
                const cancelButton = $(".jsgrid-button.jsgrid-cancel-edit-button:visible");
                if (cancelButton.length) {
                    cancelButton.click();
                }
            }

            e.stopPropagation();

        });

        let selectedItems = {};

        {# Main JsGrid #}
        data: [], // 初始為空，將透過 AJAX 加載資料

        // 初始化 jsGrid
        $("#jsGrid").jsGrid({
            width: "100%",
            height: "70vh",
            noDataContent: "{% trans "Not found" %}",
            autoload: true,
            selecting: true,
            inserting: false,  // 啟用新增功能
            editing: true,    // 啟用編輯功能
            sorting: true,    // 啟用排序功能
            paging: false,     // 啟用分頁功能
            rowClick: function (args) {
                let $target = $(args.event.target);
                if ($target.is("input[type='checkbox']")) {
                    return;
                }
                this.editItem(args.item);
            },

            data: [],   // 將 JSON 資料導入表格

            fields: [
                {
                    name: "select",
                    title: "<input type='checkbox' id='selectAll'>",
                    itemTemplate: function(_, item) {
                        let $checkbox = $("<input>").attr("type", "checkbox")
                            .addClass("rowCheckbox")
                            .attr("data-id", item.id)
                            .attr("data-product-order", item.product_order)
                            .attr("data-purchase-no", item.purchase_no)
                            .attr("data-version-no", item.version_no)
                            .attr("data-version-seq", item.version_seq)
                            .attr("data-item-type", item.item_type)
                            .attr("data-size", item.size)
                            .attr("data-bin-id", item.bin_id)
                            .attr("data-qty", item.qty)
                            .attr("data-desc", item.desc)
                            .attr("data-purchase-unit", item.purchase_unit);

                        if (selectedItems[item.id]) {
                            $checkbox.prop("checked", true);  // Dùng prop thay vì attr
                        }

                        $checkbox.on("change", function() {
                            if ($(this).is(":checked")) {
                                selectedItems[item.id] = true;
                            } else {
                                delete selectedItems[item.id];
                            }
                        });

                        return $checkbox;
                    },
                    align: "center",
                    width: 50,
                    filtering: false,
                    sorting: false,
                },
                {
                    type: "control",
                    width: 80,
                    itemTemplate: function(_, item) {
                        // Tạo nút Edit
                        var editButton = $("<button>")
                            .addClass("btn btn-primary btn-sm") // Bootstrap style
                            .text("{% trans 'Edit' %}")
                            .on("click", function(e) {
                                e.stopPropagation();
                                e.preventDefault();
                                // Logic để chỉnh sửa item
                                $("#jsGrid").jsGrid("editItem", item);
                            });

                        // Chỉ trả về nút Edit mà không có nút Delete
                        return editButton;
                    }
                },
                { name: "customer_no", type: "text", width: 140, title: "{% trans "Customer" %}", editing: false, css: "text-center" },
                { name: "product_order", type: "text", width: 140, title: "{% trans "Product Order" %}", validate: "required", editing: false, css: "text-center" },
                { name: "version_no", type: "text", width: 140, title: "{% trans "Version No" %}", editing: false, css: "text-center" },
                { name: "lot_no", type: "text", width: 200, title: "{% trans "Lot Number" %}", editing: false, css: "text-center" },
                { name: "size", type: "text", width: 90, title: "{% trans "Size" %}", editing: false, css: "text-center"},
                { name: "qty", type: "number", width: 120, title: "{% trans "Qty" %}"},
                { name: "item_type", type: "text", width: 200, title: "{% trans "Item Type" %}", editing: false, css: "text-center" },
                { name: "bin_id", type: "text", width: 90, title: "{% trans "Location" %}", editing: false, css: "text-center"},
                { name: "desc", type: "text", width: 200, title: "{% trans "Comment" %}", editing: true, css: "text-center" },
                { name: "post_date", type: "date", width: 200, title: "{% trans "Post Date" %}", editing: false, css: "text-center" },
                { name: "supplier", type: "text", width: 120, title: "{% trans "Supplier" %}", editing: false, css: "text-center" },
                { name: "purchase_qty", type: "number", width: 120, title: "{% trans "Purchase Quantity" %}", editing: false},
                { name: "purchase_unit", type: "text", width: 120, title: "{% trans "Purchase Unit" %}", editing: false, css: "text-center" },
                { name: "purchase_no", type: "text", width: 140, title: "{% trans "Purchase Order" %}", editing: false, css: "text-center"},
                { name: "sap_mtr_no", type: "text", width: 120, title: "{% trans "SAP Material Number" %}", editing: false, css: "text-center" },
                { name: "version_seq", type: "text", width: 90, title: "{% trans "Version Seq" %}", editing: false, css: "text-center" },

            ]
        });

        $("form").on("submit", function (e) {
           e.preventDefault();
           e.stopPropagation();
        });


        $('#postDataButton').click(function(event) {
            event.preventDefault();
            // 獲取 jsGrid 的所有數據
            let gridData = $("#jsGrid").data("JSGrid").data;

            if (!gridData || gridData.length === 0) {
                alert("{% trans "No data in the table! Please enter at least one row." %}");
                event.stopPropagation();
                return;
            }

            let selectedIds = Object.keys(selectedItems); // Lấy danh sách ID đã chọn
            let selectedData = [];

            $(".rowCheckbox:checked").each(function() {
                let rowData = $(this).data(); // Lấy toàn bộ data-* attributes
                selectedData.push(rowData);
            });

            if (selectedData.length === 0) {
                alert("Please select at least one row to delete!");
                return;
            }

            if (!confirm("Are you sure you want to stock out?")) return;

            $.ajax({
                type: "POST",
                url: "{% url 'packing_material_stock_out_post' %}",
                data: JSON.stringify({
                    ids: selectedIds ,
                    list_data: selectedData,
                }),
                contentType: "application/json",
                success: function (response) {
                    alert("Deleted successfully!");
                    console.log("Data API:", response);


                    // Reset danh sách đã chọn
                    selectedItems = {};
                    $(".rowCheckbox").prop("checked", false); // Bỏ chọn tất cả checkbox
                    $("#selectAll").prop("checked", false); // Bỏ chọn "Chọn tất cả"


                    const product_order = $("#id_product_order").val();
                    const purchase_no = $("#id_purchase_no").val();
                    const size = $("#id_size").val();
                    const lot_no = $("#id_lot_no").val().trim();
                    const version_no = $("#id_version_no").val().trim();
                    const item_type = $("#id_item_type").val().trim();

                    if (product_order || purchase_no || size || lot_no || version_no || item_type) {

                        $.getJSON("{% url 'get_product_order_stout' %}", {
                            product_order: product_order,
                            purchase_no: purchase_no,
                            size: size,
                            lot_no: lot_no,
                            version_no: version_no,
                            item_type: item_type
                            }, function (data) {
                                console.log("Data received:", data); // Debug xem dữ liệu đúng chưa
                                $("#btnSearch").trigger("click");
                                {#$("#jsGrid").jsGrid("option", "data", data);#}
                        });
                    }
                },
                error: function (xhr) {
                    const errorMsg = JSON.parse(xhr.responseText);
                    alert(errorMsg.message);
                }
            });

        });

    });

</script>

{% endblock %}